.lf-header {
  width: 100%;
  height: .9rem;
  background-color: #f4483e;
  padding: .25rem .13rem 0 .2rem;
}
.lf-header .back {
  height: .35rem;
  width: .35rem;
  background: url(../images/icback.svg) no-repeat center center;
  background-size: 100%;
}
.lf-header h3 {
  text-align: center;
  font-size: .28rem;
  color: #fff;
}
.lf-header .app img {
  width: .6rem;
  height: .5rem;
}
.lf-coupon {
  width: 100%;
  height: 4.5rem;
  padding: .3rem .15rem;
  background-color: #fff;
}
.lf-coupon .couponBox {
  width: 100%;
  height: 100%;
}
.lf-coupon .couponBox .couponList {
  width: 33.3%;
  float: left;
  text-align: center;
  padding: .1rem 0;
}
.lf-coupon .couponBox .couponList a {
  display: block;
  width: 95%;
  height: 95%;
  border: 0.01rem solid #f7f7f7;
}
.lf-coupon .couponBox .couponList a img {
  width: 1.3rem;
  height: 1.3rem;
}
.lf-coupon .couponBox .couponList a p {
  font-size: .25rem;
}
.lf-footer {
  width: 100%;
}
.lf-footer .top {
  height: .6rem;
  width: 100%;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  line-height: .6rem;
}
.lf-footer .top a {
  width: 33.3%;
  display: block;
  float: left;
  text-align: center;
}
.lf-footer .top a:nth-child(2) {
  border-right: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
}
.lf-footer .bottom {
  width: 100%;
  height: 1.5rem;
  text-align: center;
  padding: .3rem 0;
}
.lf-footer .bottom p {
  font-size: .25rem;
}
.lf-footer .bottom .mobile a {
  color: red;
}
.lf-footer .bottom .mobile a:nth-child(2) {
  color: #000;
}
.lf-footer .bottom .mobile a:nth-child(3) {
  color: #666;
}
.lf-footer .bottom .web a {
  color: #666;
}
